# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore large audio files
src/audio/Ennavale Adi Ennavale.mp3
src/audio/Munbe Vaa.mp3
src/audio/New York Nagaram.mp3
src/audio/Oru Dheivam Thantha Poove Male.mp3
src/audio/Vennilave Vennilave Vinnai.mp3
